body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(135deg, #e3f2fd, #bbdefb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-container {
  padding: 20px;
  border-radius: 20px; 
  background-color: rgba(238, 235, 245, 0.90); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Shadow for depth */
}

.login-container {
  width: 400px;
  padding: 40px;
  border-radius: 15px;
  background: linear-gradient(135deg, #f0f4c3, #81d4fa);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  color: #004d4d;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 600;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container div {
  margin-bottom: 15px;
}

.login-container label {
  font-size: 0.9em;
  margin-bottom: 5px;
  display: block;
  color: #004d4d;
}

.login-container input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;
  color: #333;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

.login-container input::placeholder {
  color: #aaa;
  opacity: 1;
}

.login-container input:focus {
  outline: none;
  border: 2px solid #81d4fa;
}

.login-container button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #004d4d;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
}

.login-container button:hover {
  background-color: #007a7a;
}

.login-container button:active {
  transform: scale(0.95);
}

.create-account-link {
  color: #004d4d;
  text-decoration: none;
}

.create-account-link:hover {
  text-decoration: underline;
}

.login-logo {
  max-width: 100%;
  margin-bottom: 20px;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

@media (max-width: 480px) {
  .login-container {
      width: 90%;
      padding: 20px;
  }
}

